apiVersion: v1
kind: Service
metadata:
  name: nkd-gateway
  namespace: nkd
  labels:
    app.kubernetes.io/name: gateway
spec:
  type: LoadBalancer
  selector:
    app.kubernetes.io/name: gateway
  externalTrafficPolicy: Cluster
  ipFamilyPolicy: PreferDualStack
  ipFamilies:
  - IPv4
  - IPv6
  ports:
  - name: http
    port: 80
    protocol: TCP
    targetPort: 80
  - name: https
    port: 443
    protocol: TCP
    targetPort: 443
