name: adapter
on:
  push:
    paths:
      - ".github/workflows/adapter.yml"
      - "docker/adapter/**"
    branches:
      - "main"
      - "develop"
    tags:
      - "*"
jobs:
  publish-docker:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and Push
        uses: docker/build-push-action@v3
        with:
          build-args: DEPLOYMENT_ENVIRONMENT=${{ github.ref_name }}
          context: ./docker/adapter/
          push: true
          tags: ghcr.io/datagov-cz/nkd-adapter:${{ github.ref_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
