name: docker
on:
  push:
    paths:
      - ".github/workflows/docker-solr.yml"
      - "docker/solr/**"
    branches:
      - "main"
      - "develop"
    tags:
      - "*"
jobs:
  publish-docker:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Login to Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Adapter
        uses: docker/build-push-action@v3
        with:
          context: ./docker/solr/
          push: true
          tags: ghcr.io/datagov-cz/nkod-solr:${{ github.ref_name }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
